extends layout

block content
	#pageWrapper
		header#header
			h1 Leap Motion Tests

		#mainContent
			dl
				dt Hands
				dd
					strong Count: 
					span#count
				dd
					strong Rotation direction: 
					span#rotation

		footer#footer